// Used to add custom colours and schemes to project tags

.text-bg-luau {
  background-color: #0da2fd;
  color: $white;
}

.text-bg-sass {
  background-color: #c66394;
  color: $body-color;
}

.text-bg-ts {
  background-color: #2f74c0;
  color: $white;
}

.text-bg-aws {
  background-color: #f8991b;
  color: $body-color;
}
